<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Stuff</title>
</head>
<body>
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left modaldiv">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
                    <div class="tabs" id="tab01">
                        <h6 class="text-muted">Accuracy</h6>
                    </div>
                    <div class="tabs active" id="tab02">
                        <h6 class="font-weight-bold">Precision</h6>
                    </div>
                    <div class="tabs" id="tab03">
                        <h6 class="text-muted">F1 Score</h6>
                    </div>
                    <div class="tabs" id="tab04">
                        <h6 class="text-muted">Recall</h6>
                    </div>
                </div>
                <div class="line"></div>
                <div class="modal-body p-0">
                    <fieldset id="tab011">
    
                    </fieldset>
                    <fieldset class="show" id="tab021">
    
    
                    </fieldset>
                    <fieldset id="tab031">
    
                    </fieldset>
                    <fieldset id="tab041">
    
                    </fieldset>
                </div>
                <div class="line"></div>
                <div class="modal-footer d-flex flex-column justify-content-center border-0">
                </div>
            </div>
        </div>
    </div>
</body>
</html>